.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: var(--background-color);
  border: 3px solid var(--border-color);
  max-height: fit-content;
  width: 100%;
  max-width: 400px;
}

.button-container-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.booking-affiliate-btn {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  padding: 8px 40px;
  border-radius: 5px;
  color: #002766;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  border: 3px solid #002766;
  transition: background-color 0.3s ease-in-out, transform 0.2s;
  cursor: pointer;
}

.booking-affiliate-btn:hover {
  background-color: #c7c7c7;
  transform: translateY(-2px);
}

.booking-affiliate-btn .booking-icon {
  width: 34px;
  height: auto;
}

.login-btn {
  border: none;
  background-color: var(--primary-color);
  color: var(--background-color) !important;
}

.register-btn {
  background-color: var(--background-color);
  color: var(--primary-color);
  border-color: var(--primary-color);
  max-width: 400px;

}

.guest-btn {
  background: none;
  color: var(--text-color);
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 10px;
  
}

.guest-btn:hover {
  opacity: 0.8;
}

.tag-btn {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.4em 0.8em;
  border: 2px solid #ccc;
  border-radius: 9999px;
  font-size: 0.9rem;
  cursor: pointer;
  background-color: var(--background-color);
  transition: background-color 0.2s;
}

.tag-btn:hover {
  background-color: #e0e0e0;
}

.tag-indicator {
  width: 0.7em;
  height: 0.7em;
  border-radius: 9999px;
  background-color: currentColor;
}

.tag-green {
  border-color: var(--success-color);
}

.tag-green .tag-indicator {
  color: var(--success-color);
}

.tag-orange {
  border-color: var(--warning-color);
}

.tag-orange .tag-indicator {
  color: var(--warning-color);
}

.tag-red {
  border-color: var(--error-color);
}

.tag-red .tag-indicator {
  color: var(--error-color);
}

.tag-gray {
  border-color: var(--border-color);
}

.tag-gray .tag-indicator {
  color: var(--border-color);
}

.tag-selected {
  background-color: #e0e0e0;
}

.accessibility-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}
.accessibility-btn:hover {
  background-color: var(--hover-color);
}
.feedback-subject {
  font-weight: bold;
}

.accessibility-text {
  display: flex;
  flex-direction: column;
}

.accessibility-text p {
  margin: 0;
  text-align: left;
}

.accessibility-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.accessibility-container span.material-symbols-outlined {
  display: none;
}

.accessibility-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.accessibility-green {
  border-color: var(--success-color);
}

.accessibility-green .tag-indicator {
  color: var(--success-color);
}

.accessibility-orange {
  border-color: var(--warning-color);
}

.accessibility-red {
  border-color: var(--error-color);
}

.accessibility-gray {
  border-color: var(--border-color);
}

.link {
  width: fit-content;
  border-color: black;
}

.accessibility-score {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.booking-btn {
  background-color: #003580;
  border: none;
  justify-content: space-between;
}

.booking-btn img {
  width: 130px;
  height: auto;
}

.book-now-btn {
  background-color: transparent;
  border-color: white;
  color: white;
  width: fit-content;
}

@media screen and (min-width: 768px) {
.accessibility-container span.material-symbols-outlined {
  display: flex;
}
}