@import "@fortawesome/fontawesome-free/css/all.min.css";

:root {
    --primary-color: #134097;
    --secondary-color: #6C63FF;
    --accent-color: #FF9B42;
    --background-color: #FCFCFC;
    --text-color: #231F20;
    --success-color: #4CAF50;
    --error-color: #E74C3C;
    --warning-color: #F39C12;
    --border-color: #DADADA;
}

html, body {
    margin: 0 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
  }

/* Roboto Font */
@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-regular.ttf');
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

/* Roboto Font */
@font-face {
    font-family: 'AcuminPro';
    src: url('../assets/fonts/AcuminPro/Acumin-Regular.otf');
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-family: 'AcuminPro';
    src: url('../assets/fonts/AcuminPro/Acumin-Bold.otf');
    font-weight: 700;
    font-style: normal;
}

h1 {
    font-family: 'AcuminPro', sans-serif;
    font-size: 1.75rem; 
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
}

h2 {
    font-family: 'AcuminPro', sans-serif;
    font-size: 1.25rem; /* 40px */
    font-weight: 400;
    margin-bottom: 0.5rem;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem; 
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.cta{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem; 
    font-weight: 700;
}

.descriptions{
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem; 
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.container{
    margin: 0 20px;
}

.profile-button {
    padding: 10px 20px;
    background-color: var(--primary-color); /* Green */
    color: var(--background-color);
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
  }
  .profile-button .nav-link {
    text-decoration: none;
    color: inherit;
  }
  
  .profile-button:hover {
    background-color: #45a049;
    cursor: pointer;
  }