.navbar-mobile{
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;
    padding: 1rem 0;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    position: relative;
}

.nav-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    list-style: none;
    gap: 12px;
    background-color: var(--background-color);
    top: 0;
    width: 100%;

}

.nav-link {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 700;
    transition: color 0.3s ease;
    width: 100%;
  }
  
.nav-links ul li a {
    text-decoration: none;
    color: var(--text-color);
}

.nav-links ul li a:hover {
    color: var(--primary-color);
}

.menu-icon{
    font-size: 24px; 
    color: var(--primary-color);
}

.logo img{
    height: 40px;
    width: auto;
}