.navbar-mobile{
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

}

.nav-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 12px;
    background-color: var(--background-color);
    top: 100%; /* Places it right below the navbar */
    left: 0;
    width: 100%;
    max-height: calc(100vh - 60px); /* Adjust based on your navbar height */
    overflow-y: auto; /* Prevent overflow and add scrolling if necessary */
    transition: transform 0.3s ease;
    z-index: 10;
}

.nav-link {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 700;
    transition: color 0.3s ease;
  }
  
.nav-links ul li a {
    text-decoration: none;
    color: var(--text-color);
}

.nav-links ul li a:hover {
    color: var(--primary-color);
}

.menu-icon{
    font-size: 24px; 
    color: var(--primary-color);
}

.logo img{
    height: 40px;
    width: auto;
}

ul{
    margin: 0;
    padding: 0;
}