/* Footer */
.footer {
  padding: 20px;
  background: var(--primary-color);
  color: var(--background-color);
}

.footer-content {
  display: flex;
  position: absolute;
  bottom:0;
  flex-direction: column;
  align-items: center;
}

.footer-logo img {
  width: 120px; 
  margin-bottom: 10px;
}

/* Footer Links */
.footer-links {
  display: flex;
  flex-direction: row;
  gap: 5px;
  text-align: left;
  justify-content: space-between;
}

.footer a {
  color: var(--background-color);
  text-decoration: none;
}

.footer-links-mobile li, .footer-links-desktop li{
  list-style-type: none;
  margin-bottom: 6px;
}

.footer a:hover {
  text-decoration: underline;
  color: var(--accent-color);
}


.footer-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-socials{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.social-icon{
  font-size: 1rem;
  background-color: var(--secondary-color);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.footer-copyright{
  display: flex;
  justify-content: center;
}

.footer-links-desktop {
  display: none;
}

/* Responsive Design */
@media (min-width: 768px) {
  .footer-links {
    gap: 60px;
    justify-content: start;
  }

  .footer-links-mobile {
    display: none;
  }
}